
        <div class="home" id="chi siamo">
          <div class="titolo"><h1> Chi siamo</h1></div>
          <div id="sezioneTitolo">
        <div><img src="img/pngtree-hipster-man-eating-burger-png-image_5698112.png"></div>

        <div class="descrizione_home">
                    
          <p>In una piccola città, una famiglia unita dalla passione per il cibo decide di aprire un'ambiziosa hamburgeria. </p>

          <p>Con il talento culinario del padre, l'accoglienza calorosa della madre e la creatività dei figli, trasformano un piccolo locale in un punto di riferimento per gli amanti degli hamburger gourmet. </p>
          
          <p>Lavorando insieme, condividendo gioie e sfide, creano un luogo speciale dove la buona cucina e l'amore di famiglia si fondono in un'esperienza unica per i clienti.</p>
        </div>
      </div>
    </div>


        < class = "piede">
                <p>Contatti, Chi siamo, Lavora con noi, Segnala Problema </p>
        </div>
